extends ./layout

block header
  header.w3-container.w3-center.w3-padding-64
    h1
      b IBM DOTA LEAGUE
    p Enter Fixture Info
    
block content
  // Enter a game
  .w3-card-4.w3-center.w3-white
    h2.w3-center Which Season?
    .w3-container
    - for (var i = 1; i <= season; i++)
      a.w3-button.w3-circle.w3-black(href='/fixture_entry?season=#{i}') #{i}
  .w3-card-4.w3-center.w3-white
    h2.w3-center Which Season?
    .w3-container
    - for (var i = 1; i <= season; i++)
      a.w3-button.w3-circle.w3-black(href='/fixture_entry?season=#{i}') #{i}
      
