extends ./layout

block header
  header.w3-container.w3-center.w3-padding-64
    h1
      b IBM DOTA LEAGUE
    p Enter Game Info
    
block content
  // Enter a game
  .w3-card-4.w3-center.w3-white
    form.w3-container.w3-card-4.w3-light-grey.w3-text-blue.w3-margin(name= 'addgame', action='/addgame', method='post')
      h2.w3-center Enter a Game
      .w3-row.w3-section
          | Game
          select.w3-select.w3-border(name='game_no', style='width:10%')
            option(value='1', selected='') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
          |      of      
          select.w3-select.w3-border(name='game_total', style='width:10%')
            option(value='1') 1
            option(value='3', selected='') 3
            option(value='5') 5
      .w3-row.w3-section
        .w3-col(style='width:50px')
          i.w3-xxlarge.fa.fa-user
        .w3-rest
          input.w3-input.w3-border(name='matchID', type='text', placeholder='Match ID')
      .w3-row.w3-section
        .w3-col(style='width:50px')
          i.w3-xxlarge.fa.fa-user
        .w3-rest
          input.w3-input.w3-border(name='played', type='text', placeholder='Date Played')
      .w3-row.w3-section
        select.w3-select.w3-border.w3-half(name='team1')
          option(value='', disabled='', selected='') Team 1
          option(value='Team A') Team A
          option(value='Team B') Team B
          option(value='Team C') Team C
          option(value='Team D') Team D
        select.w3-select.w3-border.w3-half(name='team2')
          option(value='', disabled='', selected='') Team 2
          option(value='Team A') Team A
          option(value='Team B') Team B
          option(value='Team C') Team C
          option(value='Team D') Team D
      .w3-row.w3-section
        select.w3-select.w3-border(name='winner')
          option(value='', disabled='', selected='') Winner
          option(value='Team A') Team A
          option(value='Team B') Team B
          option(value='Team C') Team C
          option(value='Team D') Team D
      .w3-row.w3-section
        .w3-col(style='width:50px')
          i.w3-xxlarge.fa.fa-pencil
        .w3-rest
          p
            label.w3-label
              b Upload Replay File
            input(type='file', name='replay')
          p
      button.w3-btn-block.w3-section.w3-blue.w3-ripple.w3-padding Send
