doctype html
html
  title IDL - IBM Dota League
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  body.w3-light-grey(onload='#{onloadfunction}')
    // Navbar
    .w3-top
      .w3-bar.w3-grey.w3-card-2
        a.w3-bar-item.w3-button.w3-padding-large.w3-hide-medium.w3-hide-large.w3-opennav.w3-right(href='javascript:void(0)', onclick='myFunction()', title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large(href='/') HOME
        a.w3-bar-item.w3-button.w3-padding-large.w3-hide-small(href='/game_entry') ADD A GAME
        a.w3-bar-item.w3-button.w3-padding-large.w3-hide-small(href='/game_delete') DELETE A GAME
        .w3-hide-small.w3-dropdown-hover
          a.w3-padding-large.w3-button(href='javascript:void(0)', title='More')
            | MORE
            i.fa.fa-caret-down
          .w3-dropdown-content.w3-white.w3-card-4
            a(href='#') Merchandise
            a(href='#') Extras
            a(href='#') Media
        a.w3-padding-large.w3-hover-red.w3-hide-small.w3-right(href='javascript:void(0)')
          i.fa.fa-search
    //
      w3-content defines a container for fixed size centered content,
      and is wrapped around the whole page content, except for the footer in this example
    .w3-content(style='max-width:1400px')
      // Header
      #header
        block header
      #content
        block content
    footer.w3-container.w3-dark-grey.w3-padding-32.w3-margin-top
      p
        | Powered by
        a(href='https://www.w3schools.com/w3css/default.asp', target='_blank') w3.css
